/*
    Document   : dotmailer
    Created on : 27-Sep-2012, 17:00:47
    Author     : akis.loumpourdis
    Description:
    Purpose of the stylesheet follows.
*/


/* Error messages - warnings styles */


.info {
    color: #00529B;
}

.success {
    color: #4F8A10;
}

.warning {
    color: #9F6000;
}

.error_message {
    color: #D8000C;
}

.error_message_widget {
    color: #D8000C;
}

input[type=submit] {
	display: block;
}
